.selected-projects {
  background-color: #fff;
  margin: auto;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.portfolio-title {
  color: #333333;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 100px;
  font-size: 2.5em;
}

.portfolio-border-line {
  text-align: center;
  margin: auto;
  margin-bottom: 60px;
}

.my-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
  margin-top: 10px;
  margin-bottom: 110px;
}

@media screen and (max-width: 800px) {
  .my-projects {
    grid-template-columns: 1fr;
    margin-bottom: 140px;
    grid-gap: 2%;
  }

  .portfolio-title {
    margin-top: 123px;
  }
}

@media screen and (max-width: 1650px) and (min-width: 801px) {
  .my-projects {
    grid-template-columns: 1fr 1fr;
  }
}

.my-projects:last-child {
  margin-right: 0;
}

@media screen and (max-width: 500px) {
  .selected-title {
    font-size: 2em;
  }
}

.project-image {
  height: 180px;
  width: 350px;
  position: relative;
  margin-bottom: 30px;
  border-radius: 4%;
}

.background-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.project-container {
  height: 222px;
  width: 348px;
  position: relative;
  margin-bottom: 30px;
  border-radius: 4%;
}

@media screen and (min-width: 801px) {
  .project-image,
  .project-container {
    margin-right: 30px;
  }
}

@media screen and (max-width: 400px) {
  .project-container {
    width: 290px;
    height: 200px;
    margin-left: 30px;
  }

  .project-title {
    font-size: 1.2em !important;
  }

  .project-info,
  .project-info-2 {
    font-size: 0.8em !important;
  }
}

.project-title {
  font-size: 1.35em;
  color: #000000;
  font-weight: bold;
  margin: 15px 0 25px;
}

.project-info {
  font-size: 1em;
  margin-bottom: 0;
}

.project-info-2 {
  font-size: 1em;
  margin-top: 10px !important;
}

.project-link {
  border-radius: 50px;
  border: 2px solid #48e5c2;
  width: 150px;
  margin-top: 25px;
  padding: 5px 0;
  background-color: #fff;
  margin: auto;
  transition: 0.5s;
  cursor: pointer;
}

.project-link:hover {
  background-color: #48e5c2;
}

.project-link a {
  color: #000;
  font-weight: bold;
}

.project-link:hover a {
  color: #fff;
}

.project-card-link {
  color: #f7931a;
}

.project-card-link:hover {
  text-decoration: underline;
}
