.interests {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 93px !important;
}

.interests-heading {
  color: #333333;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 43px;
  font-size: 2.5em;
}

.interests-border-line {
  margin-bottom: 45px;
}

.skills-overview {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  align-items: stretch;
  margin-top: 27.5px;
  margin-bottom: 45px;
}

.skill-animation-circle {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 75px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#00ffb8),
    to(#13ce9a)
  );
  background-image: linear-gradient(90deg, #00ffb8, #13ce9a);
  border-radius: 10px;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.skill-animation-circle:hover {
  transform: scale(1.075);
  font-weight: bold;
}

.interests {
  margin-bottom: 220px;
}

.interests-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5%;
  width: 55%;
}

@media screen and (max-width: 1000px) {
  .interests {
    margin-top: 42px;
  }

  .interests-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .interests {
    margin-top: 60px;
    margin-bottom: 340px;
  }

  .interests-container {
    grid-template-columns: 1fr;
    margin-bottom: -65px;
  }

  .interests-heading {
    margin-top: 100px;
  }
}

.interest-title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 15px 0 20px;
}

.interest-desc {
  font-size: 1.08em;
}

.alternative-links {
  margin-top: 5px;
}

.alternative-links-heading {
  margin-top: 60px;
}

.alternative-links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}
