.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-bottom: 0;
}

.bold {
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .mid-container,
  .about,
  .selected-projects,
  .footer {
    position: relative;
    width: 100%;
  }

  .contact-page {
    width: 409px;
  }

  .triangle {
    position: relative;
    width: 99%;
  }
}
